body {
    background-color: white;
    font-family: 'Noto Sans JP', sans-serif;
    margin-bottom: 2.0rem;
    padding-top: 50px;
}

li {
    font-weight: 300;
}

.TopNavBar {
    font-weight: 500;
    font-size: 2.0rem;
}
.nav-item {
    font-size: small;
}

.FooterBar {
    font-weight: 500;
    font-size: 1.2rem;
}

.jumbotron {
    background-image: url(./HomeBack.JPG);
    background-size: cover;
    background-position: center;
    height: 60vh;
}

.jumbotron h1 {
    font-weight: 700;
    color: white;
    margin-bottom: 1rem;
}

.jumbotron p {
    font-weight: 500;
    margin-bottom: 1.2rem;
    color: white;
}

.Contents_Main h2 {
    font-weight: 700;
    font-size: 2.4rem;
    border-bottom: 1px solid skyblue;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    padding: 0.8rem;
    padding-bottom: 1.6rem;
}

.Contents_Twitter h2 {
    font-weight: 700;
    font-size: 2.4rem;
    border-bottom: 1px solid skyblue;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    padding: 0.8rem;
    padding-bottom: 1.6rem;
}

.card {
    margin: 0.8rem;
    background-color: white;
}

.LinkedCard {
    margin: 0.8rem;
    background-color: white;
    transition: background-color 0.2s;
}
.card-header {
    font-weight: 500;
    font-size: 1.6rem;
}

.card h4 {
    font-weight: 500;
    font-size: 1.6rem;
    border-bottom: 1px solid skyblue;
    padding-bottom: 0.8rem;
}

.card h5 {
    font-size: 1.0rem;
}

.LinkedCard:hover {
    background-color: rgb(231, 231, 231);
}




.Body_Contents {
    margin-bottom: 20rem;
}

.Body_Contents h2 {
    font-weight: 700;
    font-size: 2.4rem;
    border-bottom: 2px solid lightgray;
    padding-bottom: 1.6rem;
    margin-top: 2.4rem;
    margin-bottom: 1.6rem;
}

.Body_Contents h3 {
    font-size: 2.06rem;
    border-bottom: 1px solid lightgray;
    margin-top: 1.6rem;
    padding-bottom: 0.8rem;
}