body {
    background-color: white;
    font-family: 'Noto Sans JP', sans-serif;
}

.TopNavBar {
    font-weight: 500;
    font-size: 2.0rem;
}

.FooterBar {
    font-weight: 500;
    font-size: 1.2rem;
}

.jumbotron h1 {
    font-weight: 700;
    margin-bottom: 1.2rem;
}

.jumbotron p {
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.Body_Contents h2 {
    font-weight: 700;
    font-size: 2.4rem;
    border-bottom: 2px solid lightgray;
    padding-bottom: 1.6rem;
    margin-top: 2.4rem;
    margin-bottom: 1.6rem;
}

.Body_Contents h3 {
    font-weight: 500;
    font-size: 2.0rem;
    padding-bottom: 0.8rem;
    margin-top: 1.8rem;
    margin-bottom: 1.6rem;
}

.Body_Contents p {
    font-weight: 400;
}

.Body_Contents .card-body h5 {
    font-weight: 500;
    font-size: 2.0rem;
    padding-bottom: 0.4rem;
    margin-bottom: 1.0rem;
}

.Body_Contents .card-body h6 {
    font-weight: 500;
    font-size: 1.2rem;
    border-bottom: 1px solid lightblue;
    padding-bottom: 0.4rem;
    margin-bottom: 1.6rem;
}

.Body_Contents .card-body p {
    font-weight: 400;
    font-size: 1.0rem;
    margin-bottom: 1.6rem;
}

.Body_Contents .card-body a {
    text-align: right;
}

.Body_Contents .card {
    margin-bottom: 2.4rem;
}

.Main_Text p {
    font-weight: 400;
}